* {
  font-family: 'Josefin Sans', sans-serif;
  user-select: none;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}

i {
  font-size: 20px;
  color: white;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 50px;
  text-shadow: 0px 5px 25px rgb(255, 182, 86);
}

span {
  font-size: 1.5rem;
  color: burlywood;
}

form {
  color: black;
  position: absolute;
  top: 10vh;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  padding: 15px;
  align-items: center;
  background-color: rgba(71, 71, 71, 0.947);
  border-radius: 15px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.573);
  color: white;
}

fieldset {
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  border: 1px solid rgba(112, 128, 144, 0.502);
  align-items: center;
  padding: 15px;
  border-radius: 15px;
}

legend {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

label {
  font-size: 1.5rem;
  cursor: pointer;
}

input,
button {
  border-radius: 5px;
  border: none;
  outline: none;
}

input {
  background-color: rgba(255, 255, 255, 0);
  font-size: 18px;
  text-align: center;
  width: 400px;
  padding: 8px;
  font-size: 1.5rem;
  color: white;
  margin-left: -2rem;
}

button {
  background-color: #4caf50; /* Green */
  color: white;
  width: 200px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #45a049; /* Darker green */
}

button:focus {
  outline: none;
}

button:active {
  background-color: #3e8e41; /* Even darker green */
  transform: translateY(1px);
}

.toggleReadBtn {
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  color: burlywood;
  font-size: 1.5rem;
}

.toggleReadBtn:hover {
  color: burlywood;
  background-color: transparent;
  transform: scale(1.1);
}

.toggleReadBtn:focus {
  outline: none;
  color: burlywood;
  transform: scale(1.1);
}

.toggleReadBtn:active {
  color: burlywood;
  transform: scale(0.8);
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: white;
  font-size: 20px;
}

.parallax {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    65deg,
    rgb(147, 84, 1) 0%,
    rgb(78, 45, 3) 25%,
    rgb(57, 32, 0) 50%,
    rgb(19, 11, 0) 75%,
    rgb(226, 128, 1) 100%
  );
  background-size: 200% 200%;
  animation: gradient-animation 6s ease infinite;
  z-index: -1;
}

.book {
  width: 40vw;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: 0.2s linear;
  background-color: rgba(255, 255, 255, 0.526);
}

.book:hover {
  border: 1px solid azure;
  box-shadow: 0px 0px 10px 0px azure;
}

.ReadToggleButton {
  width: 100px;
  height: 50px;
  background-color: burlywood;
}

.ReadToggleButton:hover,
.RemoveButton:hover {
  transform: scale(1.1);
}

.ReadToggleButton:focus,
.RemoveButton:focus {
  outline: none;
  transform: scale(1.1);
}

.ReadToggleButton:active,
.RemoveButton:active {
  transform: scale(0.8);
}

.buttonContainer {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.RemoveButton {
  width: 50px;
  height: 50px;
  background-color: burlywood;
}

.RemoveButton:hover {
  background-color: rgb(154, 0, 0);
}

.RemoveButton:focus {
  background-color: rgb(154, 0, 0);
}

.RemoveButton:active {
  background-color: red;
}

.valid {
  border: 2px solid green;
}

.invalid {
  border: 2px solid red;
}

.formInfoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: calc(100% - 2rem);
  padding: 1rem;
  border-radius: 10px;
}

.formSubmitBtnContainer {
  display: flex;
  gap: 1rem;
  width: 100%;
}

#formButton {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#formInfoDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .content {
    font-size: 15px;
  }

  h1 {
    font-size: 3rem;
  }

  .book {
    width: 80vw;
  }

  .buttonContainer,
  form {
    width: 80%;
  }

  button,
  input {
    width: 100%;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100% 0;
  }
}
